@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Strapi Article App</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            For Strapi initialize please visit <a href="https://strapi.io/" target="_blank">site</a>.
        </p>
    </div>
</div>